{% assign level = include.level | default: 5 %}

{% assign level_num = level | plus: 0 %}

{% if level_num < 1 or level_num > 5 %}
  {% assign level = 5 %}
{% endif %}

{% assign open = include.open | default: false %}

<details class="notion-toggle notion-toggle-h{{ level }}" {% if open != false %}open{% endif %}>
  <summary>
    <span class="notion-toggle-title">
      {{ include.title }}
    </span>
  </summary>

  <div class="notion-toggle-body">
    {{ include.content | markdownify }}
  </div>
</details>
